@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: monospace;
	@apply glowing-text glowing-border m-2 p-2 bg-black; 
}
.glowing-text {
  color: #fff; /* Base text color */
  text-shadow: 0 0 5px #fff,  /* Small inner glow */
               0 0 5px #fff, /* Outer glow */
               0 0 10px #ffffff, /* Purple glow */
               0 0 15px #ffffff, /* Stronger purple glow */
               0 0 20px #ffffff, /* Larger purple glow */
               0 0 30px #ffffff; /* Maximum glow */
  font-size: 12pt; /* Example font size */
}

.glowing-border {
  border: 2px solid #fff; /* Base border color */
  box-shadow: 5px #fff;   /* Small inner glow */
  border-radius: 10px; /* Optional: makes the border rounded */
}

